# Discord Bot Token
# احصل على التوكن من: https://discord.com/developers/applications
# ⚠️ حافظ على السرية الكاملة!
TOKEN=MTUwNDQyMTIxOTE2Mjc4ODAxMQ.GeG0lw.EQVoBO9aAlWC7a5-W_99GxB86HlhdB4LrBc8cM

# Bot Prefix (اختياري)
# البادئة التي تستخدمها قبل الأوامر (مثال: !help)
PREFIX=/

# Development Mode (اختياري)
# ضع True إذا كنت تطور البوت
DEV_MODE=False

# Database
# مسار ملف البيانات
DB_PATH=./tickets_config.json
